{% extends 'base.html.twig' %}

{% block breadcrumb %}
    
    <li class="breadcrumb-item"><a href="#">List</a></li>

{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>


    <!--un form che ci serve ad invocare la route / con il metodo POST-->
    <ul class="list-group list-group-light">

        {% if contatti is empty %}

            <li class="list-group-item">Ancora Nessun elemento</li>

        {% else %}

        {% for item in contatti %}
            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-1">
                    <div class="d-flex align-items-center">
                        <img src="{{ item.picture }}" alt="" style="width: 45px; height: 45px"
                             class="rounded-circle" />
                        <div class="ms-3">
                            <div class="fw-bold mb-1">{{ item.name }} {{ item.surname }}</div>
                            <div class="text-muted mb-0">{{ item.email }}</div>
                        </div>
                    </div>

                    <div class="d-flex bg-light outline-primary" style="background-color: #e9ecef">
                        <a href="/delete?item={{ item.id }}" class="btn btn-success me-2">
                            <i class="far fa-pen-to-square fa-2x"></i>
                        </a>
                        <a href="/delete?item={{ item.id }}" class="btn btn-danger">
                            <i class="far fa-trash-can fa-2x"></i>
                        </a>
                    </div>
                </li>
        {% endfor %}

        {% endif %}
    </ul>


{% endblock %}